@page "/"

<PageTitle>CV</PageTitle>



<section class="container py-5">
    <div class="row align-items-center">
        
        <!-- Foto -->
        <div class="col-md-3 text-center mb-4 mb-md-0">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVxZ56uA0-k2SqZDPiwiQ7nA798xVrecSONg&s"
                 class="img-fluid rounded-circle shadow-lg border border-3 border-info"
                 alt="Foto CV" />
        </div>

        <!-- Secciones -->
        <div class="mt-5 col-md-8">
            <div class="card shadow-sm border-0 mb-4">
                <div class="card-header bg-info text-white fw-bold">Experiencia</div>
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at dignissim nunc.</p>
                </div>
            </div>

            <div class="card shadow-sm border-0 mb-4">
                <div class="card-header bg-info text-white fw-bold">Educación</div>
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at dignissim nunc.</p>
                </div>
            </div>

            <div class="card shadow-sm border-0 mb-4">
                <div class="card-header bg-info text-white fw-bold">Proyectos</div>
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at dignissim nunc.</p>
                </div>
            </div>

            <div class="card shadow-sm border-0 mb-4">
                <div class="card-header bg-info text-white fw-bold">Habilidades</div>
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at dignissim nunc.</p>
                </div>
            </div>
        </div>
       
    </div>

    
</section>

@code {

}
