@page "/TarjetaFoto"

<PageTitle>TarjetaFoto</PageTitle>

<div class="container my-4">
    <div class="row g-4">
        
        <div class="col-md-6">
            <div class="card shadow-sm border-0 h-100">
                <div class="row g-0 h-100">
                    <div class="col-4">
                        <img src="https://mdbcdn.b-cdn.net/wp-content/uploads/2020/06/vertical.webp"
                             alt="foto"
                             class="img-fluid h-100 w-100 object-fit-cover rounded-start" />
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-dark">Título</h5>
                            <p class="card-text text-muted mb-0">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="col-md-6">
            <div class="card shadow-sm border-0 h-100">
                <div class="row g-0 h-100">
                    <div class="col-4">
                        <img src="https://mdbcdn.b-cdn.net/wp-content/uploads/2020/06/vertical.webp"
                             alt="foto"
                             class="img-fluid h-100 w-100 object-fit-cover rounded-start" />
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-dark">Título</h5>
                            <p class="card-text text-muted mb-0">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       
        <div class="col-md-6">
            <div class="card shadow-sm border-0 h-100">
                <div class="row g-0 h-100">
                    <div class="col-4">
                        <img src="https://mdbcdn.b-cdn.net/wp-content/uploads/2020/06/vertical.webp"
                             alt="foto"
                             class="img-fluid h-100 w-100 object-fit-cover rounded-start" />
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-dark">Título</h5>
                            <p class="card-text text-muted mb-0">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card shadow-sm border-0 h-100">
                <div class="row g-0 h-100">
                    <div class="col-4">
                        <img src="https://mdbcdn.b-cdn.net/wp-content/uploads/2020/06/vertical.webp"
                             alt="foto"
                             class="img-fluid h-100 w-100 object-fit-cover rounded-start" />
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-dark">Título</h5>
                            <p class="card-text text-muted mb-0">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card shadow-sm border-0 h-100">
                <div class="row g-0 h-100">
                    <div class="col-4">
                        <img src="https://mdbcdn.b-cdn.net/wp-content/uploads/2020/06/vertical.webp"
                             alt="foto"
                             class="img-fluid h-100 w-100 object-fit-cover rounded-start" />
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-dark">Título</h5>
                            <p class="card-text text-muted mb-0">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {

}
