<div class="col-md-6">
    <div class="card shadow-sm border-0 h-100">


        <div class="col-8">
            <div class="card-body">
                <h5 class="card-title fw-bold text-dark">Título</h5>
                <p class="card-text text-muted mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </div>
        </div>

    </div>
</div>